[2021-05-19 13:41] sscargal commented on #170
Hi @dkoutsou,

That is not recommended. HPe supports ratios from 2:1 - 16:1 (PMem:DRAM), so you will be okay using 100% Memory Mode, and Mixed Mode needs to be configured with this ratio's in mind.

In mixed mode, 100% of the DRAM across all CPU sockets is used for the Cache and will not be visible to the host, regardless of the percentage value used, or PMem modules, or CPU sockets you use as tar

[2021-05-20 16:11] sscargal commented on #170
Thank you. The population is correct and the version of ipmctl is fine. The BIOS is enforcing a symmetric configuration across all CPU sockets, which leads us back to `$ ipmctl create -socket 1 -goal MemoryMode=100` as the root cause for why you're getting the errors during POST.

To resolve the issue I recommend switching to 100% Memory Mode or 100% App Direct, or 50% Mixed Mode depending on your

[2021-05-22 09:33] dkoutsou commented on #170
Thanks a lot for you reply @sscargal !

[2021-05-22 09:33] #170 closed

[2021-06-24 19:41] sscargal opened #171 "[Ubuntu 20.04] "ipmctl show -memoryresources" returns "One or more DIMMs have invalid PCD data" on Ice Lake Systems"
### Issue Description

After creating an AppDirect or Memory Mode goal and rebooting, `ipmctl show -memoryresources` may report the following:

[code]

Other commands such as `ipmctl show -dimm` work.

### Cause

Ubuntu 20.04 package repository ships ipmctl version 02.00.00.3709. On systems with newer PMem firmware (eg: 02.02.00.1553), this older version of ipmctl is incompatible.

The cause can b

[2021-06-24 20:14] sscargal opened #172 ""ipmctl version" returns "Initialization failed. No PMem modules in the system." as a non-root user"
### Issue

A non-root user running `ipmctl version` gets the following error:

[code]

A version command should not require root. The expected output is the version string:

[code]

It works as sudo or root
[code]

ipmctl previously fixed this issue, so this appears to be a regression. Commit [cc23fb179333a737701bba0c95b7bae2e40dbd81](https://github.com/intel/ipmctl/commit/cc23fb179333a737701bba0c

[2021-06-24 20:32] StevenPontsler commented on #171
Ubuntu 20.04 appears to be a long term support version. I can ask the maintainer about updating the version included though this has been a battle before. Usually they only accept things like security issues and then they want the same version just patched.

The FIS version is close enough that it should not present a problem. I suspect other changes resulted in the problem going away. I'll ask so

[2021-06-24 20:33] StevenPontsler commented on #172
I'll see about having someone look into it.

[2021-07-07 00:59] StevenPontsler commented on #171
Getting an update into 20.04 does not sound promising.

[2021-07-07 08:46] pohly commented on #172
I ran into this issue when trying to determine whether I had built the right version number into a binary. I was invoking `ipmctl version` on a machine without any PMem, something that I would expect to work.

[2021-07-07 08:47] pohly commented on #172
In my case I was building v02.00.00.3878.

[2021-07-09 23:05] sscargal commented on #172
I used Ubuntu 20.04 when filing this issue. I recently tried on CentOS 7.9 with ipmctl 02.00.00.3833 and didn't see the issue

[code]

[2021-07-16 16:11] sscargal commented on #144
I'm documenting a recent debugging effort.

## Issue
[code]

Notes:
- `dmidecode -t memory` shows all the DRAM and PMem in the host with location information.
- `ipmctl show -dimm` works, as do other ipmctl commands

## Applies To

- ipmctl v2.x
- Dell 14g server platforms using Intel Xeon CPUs and Intel Optane Persistent Memory 100 Series (R640, etc)
- Linux (Verified on CentOS, but it should imp

[2021-08-10 06:35] janekmi opened #173 "README.md: missing description of what the master branch is"
I really like the idea of describing in the README.md what each branch in the repo contains. I have noticed you are missing a description of what the `master` branch is. I have even tried to add it by myself but I have found the current state of affairs a little bit confusing/atypical. Which made me sure you need such a description.

What I have noticed so far:
- You are not using `master` as a de

[2021-08-10 07:19] janekmi opened #175 "CONTRIBUTING.md: outdated?"
Why I suppose CONSTRIBUTING.md is outdated:
- I have seen a few pull requests aiming at the `master` branch and
- these pull requests are merged
- the `testing` branch seems to follow the latest release branch (master_2_0 branch). What if the contribution aims for a different release?

[2021-08-10 18:29] StevenPontsler commented on #173
The `master` branch is thought of as the latest stable branch. The `master_2_0` would be at that latest "milestone" (which was never well defined). At this point the two tend to be the same.

Fixes are still likely to be done on the `master`/`master_2_0` though probably not new features.

The `Development` branch is for new features, support for new hardware revisions, etc and at this point is not

[2021-08-13 10:58] janekmi commented on #173
So I understand the `master` branch is the latest stable. At this point, it means it should be at any time **equal to** `master_2_0`. But, when 03.00.00.xxxx will be released it will be **equal to** `master_3_0` and so on. Is it correct?

It seems to me, you have a very tricky setup here because effectively it means you should have to have two **copies** of the same branch. One named `master` wher

[2021-08-13 11:30] janekmi commented on #175
Thank you for the explenation.

Please consider deleting the `testing` branch. Having too many branches is confusing for contributors.

[2021-08-18 03:32] StevenPontsler commented on #144
I believe the latest release ( 02.00.00.3885 ) should address this issue.

[2021-08-18 15:14] kjfbjweerjfn commented on #152
We are trying to use the same configuration by following this [article](https://stevescargall.com/2019/07/09/how-to-extend-volatile-system-memory-ram-using-persistent-memory-on-linux/), however we notice some unusual behaviour. We run the application (mysql) on the newly created numa node 2 (using numactl). And use the Intel vtune platform profiler. As expected, the pmem starts experiencing reads

[2021-08-18 16:10] sscargal commented on #152
@kjfbjweerjfn

The Kernel/OS is running and will need the DRAM for internal buffers and the Page Cache.

[2021-08-18 16:24] StevenPontsler commented on #152
Thanks for responding @sscargal -- it looks like this is a question about an article you are hosting. Is there a better place for questions about that to be asked?

[2021-08-18 16:29] sscargal commented on #152
There is a PMem forum ([https://groups.google.com/forum/#!forum/pmem](https://groups.google.com/forum/#!forum/pmem)) and [#pmem Slack Channel](https://join.slack.com/t/pmem-io/shared_invite/enQtNzU4MzQ2Mzk3MDQwLWQ1YThmODVmMGFkZWI0YTdhODg4ODVhODdhYjg3NmE4N2ViZGI5NTRmZTBiNDYyOGJjYTIyNmZjYzQxODcwNDg) where questions can be asked.

[2021-08-18 16:57] kjfbjweerjfn commented on #152
Thank you for your reply. In this case, the page cache gets allocated on the numa node meant for pmem, if you look at the rows Active(file) and Inactive(file).
[code]

[2021-09-15 05:42] hiten4612 commented on #164
I have the same issue
Command:
sudo ipmctl show -dimm
Output:
Command not run

1 = sudo ipmctl show -v -dimm
NVM_DBG_LOGGER NVDIMM-DBG:PbrOs.c::PbrDeserializeCtx:193: PBR MODE from shared memory: 0

NVM_DBG_LOGGER NVDIMM-DBG:PbrOs.c::PbrDeserializeCtx:201: pbr_ctx.tmp not found, setting to default value

NVM_DBG_LOGGER NVDIMM-DBG:Pbr.c::PbrInit:799: PbrInit PBR MODE: 0

NVM_DBG_LOGGER NVDIMM-DBG:P

[2021-09-15 14:25] sscargal commented on #164
@hiten4612

Q1) What version of ipmctl are you using?
Q2) What server OEM are you using? (HPe?)
Q3) Are you running on bare metal or within a guest Virtual Machine?

[2021-09-15 21:13] StevenPontsler commented on #164
It looks like the PMTT table is not available from the BIOS. The latest release (02.00.00.3885) has changes to do what it can without that table. I believe this version is available on Fedora and EPEL repositories. I do not know about others.

The 01.00.00.xxxx versions should work without the table though it only recognizes the series 100 persistent memory modules.

I agree with sscargal's questi

[2021-09-16 05:08] hiten4612 commented on #164
1= ipmctl version
Intel(R) Optane(TM) Persistent Memory Command Line Interface Version 02.00.00.3885

2= PMTT table is not available in my system
NVM_DBG_LOGGER NVDIMM-WARN:os_efi_api.c::initAcpiTables:223: Failed to get the PMTT table.

[2021-09-16 15:15] StevenPontsler commented on #164
I guess it will need to be investigated why 3885 did not fix this.

[2021-09-16 15:19] sscargal commented on #164
@hiten4612 Can you provide more details of your hardware and software environment please:

- Server Vendor & Model
- OS Distro & Version
- Kernel Version
- Bare Metal or Virtualized environment

[2021-09-16 15:59] StevenPontsler commented on #164
@hiten4612 Please also provide the results of "ipmct show -system"

[2021-09-17 11:57] hiten4612 commented on #164
1 = Server Vendor & Model
       Dell EMC PowerEdge R740
       DellEMC’s NVDIMM-N Persistent Memory(https://www.dell.com/support/manuals/en-in/poweredge-r740/nvdimm-n_ug_pub/linux?guid=guid-1cba438c-3a35-4b64-8f75-08515f11de0c&lang=en-us)

2 = OS Distro & Version
      CentOS Linux release 8.1.1911 (Core)

3= Kernel Version
     4.18.0-147.el8.x86_64

4 = Bare Metal

5 = ipmct show -system
---NVD

[2021-09-17 16:59] StevenPontsler commented on #164
Hi @hiten4612 -- The document you linked to appears to be for a different type of device (nvdimm-n) which I am not familiar with and that document mentions other tools (not ipmctl).

The VendorId looks like it is Micron product.

ipmctl is designed to work with the Intel Optane PMem modules.

I would expect to see an error about no supported devices or something similar. I have asked someone to lo

[2021-09-17 17:37] sscargal commented on #164
@hiten4612 Can you run the following to confirm what memory devices you have installed, please.

- dmidecote -t memory
- dmidecode -t baseboard

I see the NFIT and PCAT are returning Supermicro for the OEMID, not Dell. On my Dell R640 with Intel Optane Persistent Memory, I see this for the OEMID

[code]

Your system looks to be a SuperMicro system

[code]

Both Dell and Supermicro BIOS's have PMTT

[2021-09-20 05:07] hiten4612 commented on #164
I see two pmem nodes when I use the below command
ndctl list
[
  {
    "dev":"namespace1.0",
    "mode":"raw",
    "size":17179869184,
    "sector_size":512,
    "blockdev":"pmem1"
  },
  {
    "dev":"namespace0.0",
    "mode":"fsdax",
    "map":"dev",
    "size":16909336576,
    "uuid":"4231c8a7-6c9c-42c0-85d6-022a336f2d5c",
    "sector_size":512,
    "align":2097152,
    "blockdev":"pmem0"
  }
]

[2021-09-20 15:27] sscargal commented on #164
@hiten4612 We should continue this discussion on the [Slack #pmem channel](https://join.slack.com/t/pmem-io/shared_invite/enQtNzU4MzQ2Mzk3MDQwLWQ1YThmODVmMGFkZWI0YTdhODg4ODVhODdhYjg3NmE4N2ViZGI5NTRmZTBiNDYyOGJjYTIyNmZjYzQxODcwNDg) or [PMem Google Forum](https://groups.google.com/forum/#!forum/pmem) as it's not related to ipmctl.

Follow the NVDIMM-N User Guide you provided previously to create fil

[2021-09-21 04:41] hiten4612 commented on #164
Ok thanks for your support
Now I closed this thread

[2021-09-23 07:12] lcoon815 opened #177 "IPMCTL version incompatible"
I encountered version incompatible issue. Please provide guidance on how to upgrade the IPMCTL version on my RHEL 8.4.
Below is the message wheh I typed ipmctl show -dimm in the Terminal.
"This version of ipmctl is incompatible with the UEFI platform firmware. Please upgrade to a newer version of ipmctl."

[2021-09-23 15:10] sscargal commented on #177
@lcoon815 The ipmctl package lives in the EPEL repository. The EPEL repository has `ipmctl-02.00.00.3885`. If you initially installed ipmctl from the EPEL repo, then update the ipmctl package with:

[code]

If you do not have the EPEL repository enabled, how did you install ipmctl originally?

[2021-09-23 16:47] StevenPontsler commented on #177
@icoon815 - How did you originally acquire ipmctl?

If from EPEL then sscargal has the correct directions.

I am guessing that error message is not indicating the true problem.

What version of ipmctl are you using?  `ipmctl version`
Can you run the same command with the -v option which prints out debugging information and post it here? `ipmctl show -v -dimm`

[2021-09-24 02:48] lcoon815 commented on #177
Many thanks to StevenPontsler and sscargal. The issue has been resolved.

[2021-09-24 02:48] #177 closed

[2021-10-06 15:09] jiangjiaqi6 opened #178 "ipmctl show -topology , it returns "No DIMMs in the system.""
I have two Intel Optane Persistent Memorys  on my server,each of which has a capacity of 252GB.
OS: 20.04
CPU: Intel(R) Xeon(R) Gold 5218R CPU @ 2.10GHz
ipmctl：Version 02.00.00.3709
BIOS：
`BIOS Information
        Vendor: American Megatrends Inc.
        Version: 3.4
        Release Date: 11/03/2020
        Address: 0xF0000
        Runtime Size: 64 kB
        ROM Size: 32 MB
        Characteristic

[2021-10-06 15:38] sscargal commented on #178
@jiangjiaqi6 Try a newer version of ipmctl that can identify the memory topology on platforms without the PMTT. You can either build ipmctl from the source, or update the packages. If you're using CentOS, Fedora, RHEL, etc ipmctl-02.00.00.3885 is available in the EPEL repo.

[2021-10-09 03:00] jiangjiaqi6 commented on #178
@sscargal Now all other ipmctl commands work. StevenPontsler's reply solved my doubts.

[2021-10-09 03:04] jiangjiaqi6 commented on #178
@StevenPontsler  When I try the ipmctl show -system on my test system as a non-root user I get the message:  "No DIMMs in the system". When I have root privileges, I can access them.
I don not know id command, can you give me an example to how to use?
OS：ubuntu 20.04

[2021-10-22 07:38] janekmi opened #179 "yes(1) causes `ipmctl create -gaol` to fail"
[code]

The output with fail:

[code]

The WA may be to use `echo 'y'` instead:

[code]

[code]

[2021-11-04 03:42] starcorn2020 opened #180 "Create region configuration goal failed: Error 18"
Hi guys,

I have issue during controlling PMem with ipmctl.

My environment,
SUT: whitley princeton platform
OS: CentOS8
CPU: Intel 8360Y
Memory: 2 dimm, 2 PMem

The following words are error message.

[code]
Commands I tried,

`ipmctl show -a -region
`
[code]
`ipmctl show -memoryresources
`
[code]
`dmesg | grep -i "error"
`
[code]

I think it's FW issue but no idea to solve

[2021-11-04 15:05] kjacque opened #181 "ipmctl show -dimm segfaults on bad SMBIOS table"
Version: Intel(R) Optane(TM) Persistent Memory Command Line Interface Version 02.00.00.3885
OS: CentOS Linux release 8.4.2105

While trying to debug a problem with some faulty DIMMs, I see a segfault while running ipmctl show -dimm. It is always reproducible, in the state this machine is in anyway.

[code]

Running in verbose mode, I see the following errors immediately before the segfault:

[code

[2021-11-04 17:53] StevenPontsler commented on #180
What model of PMems are installed in the system?
What was the goal command you entered?

Please post the results of results of the following commands
`ipmctl show -a -dimm`
`ipmctl show -topology`

What is the history? It appears like you are trying to create a goal though it looks like all the PMem storage is already part of region and that region is in error. Have the dimms been moved since that

[2021-11-04 18:06] StevenPontsler commented on #181
Can you post the verbose output? Or email it to me directly (my address is in my profile)

If you what dimms are there can you try the command for each of the individual dimms? For example
`ipmctl show -dimm 0x0001`

[2021-11-04 23:01] kjacque commented on #181
Alas, our datacenter powercycled the machine, and the DIMM came back up normally. I didn't manage to capture the full output beforehand.

I did save some output from the `ipmctl start -diagnostic` command though, if that can help you track down the source of the segfault:

[code]

When I was poking around in `dmidecode` it looked like the SMBIOS tables weren't showing much of anything for physical

[2021-11-05 00:10] StevenPontsler commented on #181
Thanks. Glad to hear that the dimm came back up in a good state.

We will try to figure out the cause of the seg fault.

[2021-11-05 02:51] starcorn2020 commented on #180
I tried to create AD/Memory Mode in command after installed PMem memory.

ipmctl create -goal MemoryMode=100
ipmctl create -goal PersistentMemoryType=AppDirect

All of those command are same error

ipmctl show -a -dimm
ipmctl show -topology

The command result in following words.

ipmctl show -a -dimm

---DimmID=0x0001---
   Capacity=253.734 GiB
   LockState=Disabled
   SVNDowngrade=Disabled
   Se

[2021-11-05 17:51] nolanhergert commented on #180
There is a chance that the BIOS is incorrectly marking the PMem modules as being in population violation. Please try this:

[code]

The first will clear the PCD stored on the PMem module. They store goal configuration information, as well as indicate whether that module is in population violation. By clearing it, we give a "fresh start" for the goal configuration process.

The `-f` shouldn't be ne

[2021-11-05 20:36] nolanhergert commented on #181
Found the root cause, thanks @kjacque!

Can you collect the nlogs and provide them to @sscargal? They might provide additional information on why the PMem module failed.

`ipmctl dump -destination out -dict <dict.txt> -dimm`. The dict.txt should be in the firmware image distributed to customers. If you have any questions, please talk with @sscargal.

[2021-11-08 23:50] kjacque commented on #181
@nolanhergert I've given up access to the DIMMs but I'll forward the information to our datacenter sysadmins in case they see something similar again. Thanks for the quick response. :)

[2021-11-09 05:36] starcorn2020 commented on #180
Hi nolanhergert and StevenPontsler,

PMem moudles work successfully after my folks help.
It's happened because of invalid topology.
Thx for your help.

BR,
starcorn2020

[2021-11-10 00:15] StevenPontsler commented on #180
Thanks for jumping in and helping Nolan.

@starcorn2020 - is there more or can the issue be closed?

[2021-11-10 00:17] StevenPontsler commented on #181
@kjacque -- is there more we can do or can the issue be closed?

[2021-11-10 03:38] starcorn2020 commented on #180
@StevenPontsler  Yes, tank you for your help.

[2021-11-10 15:23] #180 closed

[2021-11-10 16:40] kjacque commented on #181
Okay to close.

[2021-11-29 17:20] #172 closed

[2021-12-04 12:58] maaaay opened #182 "The goal is not applied after reboot."
Problem description: **I tried to config the memory from AppDirect mode by creating a goal. But the goal is not applied after reboot.**
The detailed commands are as follows:

Motherboard: MD72-HB3.
Two DIMMs of the Intel® Optane™ Persistent Memory 200 Series.
OS: Ubuntu 20.04.2 LTS.
ipmctl version: 02.00.00.3885.
ndctl version: 67+.
kernel version: 5.4.0-91-generic

The CPU info is:
[code]

The bi

[2021-12-04 19:02] nolanhergert commented on #182
Can you post the output of "ipmctl show -pcd"?

[2021-12-05 12:34] maaaay commented on #182
[code]

[2021-12-05 22:20] nolanhergert commented on #182
The ConfigStatus is 1, which means BIOS succeeded in applying the goal. However, it is not mapping the memory for some reason.

Since you have a commercial BIOS, I am not *that* familiar with it. If you can capture BIOS logs, that will help in triaging the issue. There might be a warning there saying something like "non-POR configuration", but the App Direct rules in your manual indicate 1 PMem mo

[2021-12-06 19:57] sscargal commented on #182
Assuming you have 6 x 32GB DDR (192GB), you have a supported 6+1 configuration. `ipmctl show -topology` should give you the physical DIMM slot numbers for both DDR and PMem, or look at `dmidecode -t memory` 'Locator' value.

I agree with Nolan that the PCD looks sane, so this appears to be a BIOS/Memory Training problem. Looking in the BIOS and BMC for platform related errors is the next best cour

[2021-12-21 13:35] IcicleF commented on #182
Hi there. I am a colleague of @maaaay and I am currently working with this issue.
We feel very sorry for the late reply.

---
Reply to @nolanhergert:

When raising this issue, @maaaay plugged 2x Optane PM 200 series DIMMs, which we considered unsupported by the motherboard after reviewing the vendor's documentation.
We reconfigured our server following the instructions in GIGABYTE's documentation,

[2021-12-21 17:32] nolanhergert commented on #182
Did you try creating a new goal yet? ConfigStatus of 0x6 means:

_6 – New configuration input structures have errors, old
configuration used. Refer to the config output structures for
additional errors._

[2021-12-21 22:35] sscargal commented on #182
To me, this seems to be a BIOS bug or BIOS Config issue.

The motherboard support page lists a newer [BIOS ](https://www.gigabyte.com/Enterprise/Server-Motherboard/MD72-HB3-rev-1x#Support-Bios)and [Firmware ](https://www.gigabyte.com/Enterprise/Server-Motherboard/MD72-HB3-rev-1x#Support-Firmware) bundle available that may or may not help this situation. It would be worth updating both to eliminate

[2021-12-22 14:53] IcicleF commented on #182
Thanks for the reply!
We have successfully fixed the issue after following @sscargal's comments by updating the BIOS and the Firmware.
The lesson learned is that BIOS version F10 and Firmware version 13.01 won't work for Optane Pmem 200 series.

We appreciate very much for your kind advice.

[2021-12-22 17:03] #182 closed

[2021-12-29 09:47] dbshch opened #183 "Firmware update stuck"
I met some severe problems when using DCPMM. So I'm trying to update the firmware of the PMs. But the updating process has been stuck for 4 hours and is still stuck now. The issue seems like the issue #130 , but I think I'm using the latest ipmctl.

Server: Huawei 2288h v5
BIOS: the latest v799
Firmware: from 01.02.00.5355 to 5417
OS: ubuntu 21.04
ipmctl: from ubuntu repo, I think it is 02.00.00.3

[2021-12-29 10:33] dbshch commented on #183
The process finished after 5 hours for 4x128G PM. Is this a normal behavior?

[2021-12-29 17:14] nolanhergert commented on #130
I don't have an answer for your specific question, other than we don't do any testing of Apache Pass on Cooper or Ice Lake.

Also, what is your board/BIOS that you are using? I think the BIOS implementation is running our payload transactions in SMM mode for some reason, which is subject to throttling.

[2021-12-29 17:47] nolanhergert commented on #183
You're right, it looks exactly like that other issue.

Yeah, see if ndctl has the same behavior. It's using a slightly different pathway, so it might perform a lot better.

I think your particular BIOS implementation is running our payload transactions in SMM mode for some reason, which is subject to throttling. 5 hours is about right, if you assume one second per 64 bytes for a ~300KB firmware im

[2021-12-29 21:04] sscargal commented on #183
@dbshch I agree with Nolan that opening a support ticker with Huawei is the correct next step. We can't provide ODM/OEM support through this GitHub channel.

I would start by understanding and resolving the MRC issues first to eliminate the hardware issues. Then you can look at the performance issue(s). There are specific [Intel Optane Persistent Memory](https://community.intel.com/t5/Intel-Optane

[2022-01-13 06:51] jchu314atgithub opened #184 "development: rpmbuild.sh fails to find manpages"
In the "development" branch, "./rpmbuild.sh 03.00.00.0423" halted with

RPM build errors:
    File not found: /home2/workspace/ipmctl-repos/ipmctl.development/output/rpmbuild/BUILDROOT/ipmctl-03.00.00.0423-1.el8.x86_64/usr/share/man/man1/ipmctl*

Looking at the ./output/cmake_install.cmake file, it is missing

file(INSTALL DESTINATION "${CMAKE_INSTALL_PREFIX}/share/man/man1" TYPE DIRECTORY FILES "

[2022-01-13 16:55] StevenPontsler commented on #184
It looks to me like earlier in the process it failed to generate the manpages. Perhaps one of the packages used to generate them is missing. Hopefully there is a message earlier on that indicates what is happening.

can you capture all the output to the screen and post it here or you can send it to me directly (my email is my profile).

What distro and version are you using to build on?

[2022-01-13 18:34] jchu314atgithub commented on #184
sure, let me take a look and get back to you.

[2022-01-13 22:25] jchu314atgithub commented on #184
$ ./rpmbuild.sh 03.00.00.0423
output has this -
`VERSION:03.00.00.0423
CMAKE_BUILD_TYPE:Release
-- Found PythonInterp: /usr/bin/python3.6 (found version "3.6.8")
CMake Warning at CMakeLists.txt:90 (find_package):
  By not providing "Finda2x.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "a2x", but
  CMake did not find one.

  Could not f

[2022-01-13 22:40] StevenPontsler commented on #184
I would not expect it to be different from master. I believe asciidoc or asciidoctor should work. I do not know how recently that has been tested.

a2x looks like it is part of asciidoc and I found suggestions to try installing asciidoc-base.

I'll have to look into more later.

[2022-01-13 22:44] jchu314atgithub commented on #184
Thanks!  I attached the complete log in email.

[2022-01-13 22:49] jchu314atgithub commented on #184
just checked, I have /usr/bin/a2x, as part of asciidoc.

[2022-01-24 20:59] StevenPontsler commented on #184
A couple of added cmake find helper files for cmake were missed in a merge.

Fixed on tags `addcmakefiles` and `v03.00.00.00.0427`

[2022-03-09 23:32] sscargal opened #186 "Add a Repology.org Badge to the README.md for easy reference"
[Repology.org](https://repology.org/project/ipmctl/versions) tracks which version of ipmctl is included with which Linux distribution. This is a nice to have feature in the README.md for quick and easy reference rather than going to pkgs.org or repology.org. An example is shown below:

![ipmctl_add_repology_to_readme](https://user-images.githubusercontent.com/37674041/157556814-a6b998a8-674e-472f-

[2022-03-09 23:45] StevenPontsler commented on #186
That looks helpful. I'll review the pull request.

[2022-03-10 16:54] #186 closed

[2022-03-17 02:22] sscargal opened #188 "[NVM API] nvm_get_regions() doesn't return the correct region 'freecapacity' when namespaces exist in the region"
This issue was originally reported on the #pmem Slack channel by Tom Nabarro:

[code]

I responded with:

`  *pFreeCapacity = pRegion->Size - NamespaceCapacityUsed;`

The following C++ code reproduces Tom's issue:

[code]

Returns:

[code]

One would expect the `free_capacity` to have been calculated and should be zero (0) on my system as demonstrated by `ipmctl show -region`:

[code]

It's unclea

[2022-03-17 05:20] StevenPontsler commented on #188
We will take a look at it.

[2022-03-25 11:16] Haroldll opened #189 "Unable to use PMem？"
I have installed intel's PMem memory stick on my server, but it can't be used.

**ipmctl show -dimm
 DimmID | Capacity    | LockState | HealthState    | FWVersion**
 **0x1101 | 126.422 GiB | Disabled  | Non-functional | 01.02.00.5355**

HealthState is Non-functional.

**ipmctl show -memoryresources
 MemoryType   | DDR         | PMemModule  | Total**
 **Volatile     | 175.750 GiB | 0.000 GiB   | 17

[2022-03-25 14:27] sscargal commented on #189
@Haroldll

Unrelated to your question, you have a failed DDR4 module (DIMM19) which explains why you have 176GB of Memory (11*16) vs. 196GB (12*16). You'll want to replace that DDR module at your earliest convenience.

It's plausible that the combination of the failed DDR module + only having one PMem module put you into a non-supported configuration, which would fail memory training during POST,

[2022-03-25 14:33] StevenPontsler commented on #189
It looks like their is likely a problem at a lower level.

What OS are you using?

Is the dimm an  Intel Optane Persistent Memory series 100 or 200? If it is a 200 series you will need to upgrade to a 2.x version of ipmctl.

Does the dimm have a healthy health state in the BIOS screens?

[2022-03-25 17:38] tanabarr commented on #188
Have reverted to retrieving free capacity by scraping ipmctl cli output (actually because nvm_get_regions_ex(use_nfit=false, ...) takes a minute to return) but it would be preferable to be able to use libipmctl api. I found that setting use_nfit=false and calling nvm_uninit() between calls results in the FreeCapacity stat being updated as expected. Unfortunately the latency in the call is not acce

[2022-03-26 03:17] Haroldll commented on #189
@sscargal
When I use the command ./pmemchk -C | tee pmemchk.out，only pmemchk.out is generated, no output directory is seen.
And the pmemchk.out file is empty.

Regarding the problem of bad memory, I have another server, which is a little different from this one.  See:
ipmctl show -dimm
 DimmID | Capacity    | LockState | HealthState    | FWVersion
 0x1101 | 126.422 GiB | Disabled  | Non-functional

[2022-03-26 03:29] Haroldll commented on #189
@StevenPontsler
My OS is cent os 8.2， Linux version 4.18.0-193.14.2.el8_2.x86_64.
It is Intel Optane Persistent Memory series 100 , NMA1XXD128GPSU4.
ipmctl-02.00.00.3885-1.el8.x86_64
ndctl-71.1-2.el8.x86_64

BMC:
![image](https://user-images.githubusercontent.com/100061509/160222954-ff481ee1-8730-451b-a8db-9ea7bb3ccb3e.png)

![image](https://user-images.githubusercontent.com/100061509/160223068-fc

[2022-03-26 16:19] sscargal commented on #189
Thanks for the update. I'll investigate the pmemchk issue on CentOS as it works fine on Fedora.

These are the descriptions of the Health and Manageability states:

[code]

Q) What server Manufacturer and Model are you using? Please provide `dmidecode`
Q) Are these newly purchased PMem modules? What's the history of these modules? Did you move them from a previous working system?

I recommend upda

[2022-03-28 08:17] Haroldll commented on #189
Q) What server Manufacturer and Model are you using? Please provide dmidecode
Manufacturer is ZTE Corporation. Model  is ZXCLOUD R5300 G4 and ZXCLOUD R5500 G4.

R5500:
dmidecode
# dmidecode 3.2
Getting SMBIOS data from sysfs.
SMBIOS 3.2.1 present.
# SMBIOS implementations newer than version 3.2.0 are not
# fully supported by this version of dmidecode.
Table at 0x000E9690.

Handle 0x0000, DMI type

[2022-03-28 14:34] Maga78 opened #190 "Load FW on DIMM 0x0001: Error 3 - Command failed"
I am trying to upgrade AEP Firmware on a S2600WF platform

ActiveFWVersion:  01.00.00.5127
Bin source: fw_ekvb0_1.2.0.544
ipmctl version: 02.00.00.3709

Any idea?

[2022-03-28 14:40] sscargal commented on #189
Correct. Those are Skylake CPUs that are not supported with Intel Optane Persistent Memory. You need to use Cascade Lake with Intel Optane 100 Series - x2xx series Xeon CPUs. [This link](https://ark.intel.com/content/www/us/en/ark/search/featurefilter.html?productType=873&2_OptaneDCPersistentMemoryVersion=true) takes you to the Advanced Search Feature of akr.intel.com where you can find all the CP

[2022-03-28 15:08] sscargal commented on #190
@Maga78 - You can't go from a very old pre-production firmware to a recent production firmware release in one step. In addition, there was at least one mandatory firmware milestone as we added new features/fixes.

Q) What BIOS revision do you currently have installed? Run `dmidecode -t bios` and look at the 'Version'

You can get the BIOS and PMem production firmware releases from [Intel® Server B

[2022-03-29 22:08] spawnflagger commented on #153
Just a datapoint - I had this same issue with a new Super Micro server. (PM200 NVDIMMs on Xeon 53xx Ice Lake)
Regardless of using BIOS utility or ipmctl (compiled from source on Ubuntu 20.04.4 LTS), the goal wouldn't apply and no regions were defined after reboot.

The fix was to clear the CMOS by pulling all AC power cords, removing the motherboard battery, and setting the "clear CMOS" jumper for

[2022-03-29 22:15] StevenPontsler commented on #153
@spawnflagger  Thanks for sharing the experience and advise.

[2022-03-30 01:10] Haroldll commented on #189
Thanks, it's resolved.

[2022-03-30 01:10] #189 closed

[2022-03-30 14:09] spawnflagger commented on #171
Although Ubuntu 22.04 should be out soon, perhaps should consider adding newer (and compatible w/FW 02.02.00.1553) version of `ipmctl` package to _focal-backports_ repo.  Process documented [here](https://wiki.ubuntu.com/UbuntuBackports).

Many users will be on 20.04 for a while, since it's an LTS release (supported until April 2025).  Then users would have to enable backports and run `apt install

[2022-03-30 14:26] spawnflagger commented on #171
1 other note:  The [build documentation ](https://docs.pmem.io/ipmctl-user-guide/installing-ipmctl/building-and-installing-ipmctl-from-source-on-linux) linked above, for Ubuntu 19+ says to `sudo apt install ruby-asciidoctor ruby-asciidoctor-pdf` , however on Ubuntu 20 those packages don't include the `asciidoctor` binary, so the build fails to create all the manpages.  The fix is to also `sudo apt

[2022-03-30 14:39] StevenPontsler commented on #171
We will look into it. I am not familiar with the focal-backports.

@sscargal  - can you update pmem.io?

[2022-03-30 16:06] sscargal commented on #171
Yes, I'll update the documentation. Thanks for the info @spawnflagger

[2022-05-11 13:54] anujm1 opened #192 "compilation failure with gcc 12"
| /ipmctl/03.00.00.0438-r0/git/DcpmPkg/cli/NvmDimmCli.c:1031:24: error: the comparison will always evaluate as 'true' for the address of 'options' will never be NULL [-Werror=address]
|  1031 |         (pCmd->options != NULL)) {
|       |                        ^~
| compilation terminated due to -Wfatal-errors.
| cc1: all warnings being treated as errors

[2022-05-27 05:57] zktsd813 opened #193 "I can't create provisioning goal"
With newest ipmctl version, I tried to provision our optane with Appdirect mode.
But, it doesn't work.

[code]
OS : Ubuntu 20.04.2 LTS
CPU : Intel(R) Xeon(R) Gold 5317 CPU @ 3.00GHz
two socket system.

It seems that there is no allowed persistent memory mode.
How can I fix this?

[2022-05-27 22:41] dimstav23 commented on #156
Hello,
I'd like to ask if there is any updated related to this issue.
It would be good to know the assiged numa_node for each of the namespaces.

Thank you!

[2022-05-27 23:41] nolanhergert commented on #156
Hi Dimitris, sorry for the delay. It sounds like a BIOS issue, I'm going to look into it internally first. Steven is getting back from sabbatical next week so I'll see what he was trying to do before as well. You should get an update by next Wednesday.

[2022-05-28 00:53] nolanhergert commented on #156
I tried reproducing this on my 2-socket reference platform with a BIOS from mid-2020 with Fedora 27 and it is working fine for me.

[code]

It is sounding like the SRAT ACPI table specifies these proximity domains, and it's possible your BIOS vendor didn't implement this properly. Can you double check this?

[2022-05-28 09:28] dimstav23 commented on #156
Hi Nolan, thanks for the quick response.
Here is my reference system information:
BIOS release date: 15/02/2022
System: x86_64-linux
Host os: Linux 5.15.41, NixOS, 22.05 (Quokka), 22.05.20220520.dfd8298
[code]

The memory topology of the system:
[code]

This is the `ndctl list -Rv` output. As you can see both regions are assigned to numa=0.
[code]

I am not really familiar with the SRAT ACPI table

[2022-05-30 13:31] dimstav23 commented on #156
I am not sure whether it makes sense or not but in my case the [SRAT ACPI table](https://wiki.osdev.org/SRAT) does not mark any region as Non-Volatile.
Does this mean that there is a mistake there that might affect the shown information from `ndctl`?

I extracted the SRAT ACPI table information by using:
[code]
If you have any further hints or things that I could try out, please let me know.

In t

[2022-05-30 18:17] dimstav23 commented on #156
I will check the PM mappings and their respective entries in the ACPI table and report what I get.
As you correctly pointed out, I suppose it has to do with the vendor's BIOS.

[2022-05-30 19:25] dimstav23 commented on #156
After looking into that further, I identified these regions in my ACPI table. The `proximity domain` field seems to be set correctly.
[code]
So, this field is not the one that causes this issue in the end.

[2022-05-30 20:08] nolanhergert commented on #156
Ah, interesting. I emailed the developers of ndctl and they'll hopefully chime in here.

[2022-06-02 04:56] zktsd813 commented on #193
@nolanhergert Thanks, I have checked out PMem, Out PMem pass  all the test
[code]

Also, I have checked BIOS and It shows that option Enforce POR is enabled.

[2022-06-08 23:00] stellarhopper commented on #156
The numa_node ndctl is reporting ultimately comes from the ACPI NFIT table's SPA Range structure.
@dimstav23 can you dump those entries and check whether they are 0?

[2022-06-08 23:52] sscargal commented on #156
@dimstav23 - The NFIT Table has pointers to other tables described in [5.2.25. NVDIMM Firmware Interface Table (NFIT)](https://uefi.org/specs/ACPI/6.4/05_ACPI_Software_Programming_Model/ACPI_Software_Programming_Model.html#nvdimm-firmware-interface-table-nfit)

`ipmctl show -system [PCAT|NFIT|PMTT]` can be used to gather the information requested by stellarhopper. Attaching the output from `ipmctl

[2022-06-09 08:08] dimstav23 commented on #156
Hi @stellarhopper and @sscargal,
sorry for the delay.
Here is the output file from `ipmctl show -system`
[ipmctl_show_-system.log](https://github.com/intel/ipmctl/files/8868223/ipmctl_show_-system.log)

From a quick look, I could see that `SpaRangeTablesNum: 2` and the respective table index hex values are `0x1` and `0x2`.
However, you probably know better how this is handled.
Let me know if you r

[2022-06-09 08:11] stellarhopper commented on #156
@dimstav23
[code]
Looks like proximity domain is set to 0 - I think this would be a question for the BIOS vendor.

[2022-06-09 08:14] stellarhopper commented on #156
I think `SpaRangeTablesNum: 2` Just implies that there are two SpaRange type tables. The actual tables are above.

[2022-06-09 15:09] sscargal commented on #156
The data provided has been provided from the 2-Socket Supermicro system. Can you provide the same data from you 8-Socket system too please? I noted that your 8-Socket system is Cascade Lake and your 2-Socket looks to be Ice Lake (a best guess based on 8 DIMM Slots). These have different BIOS code bases, so it would be very odd for both platforms to have the same BIOS issue. I have several Ice Lake

[2022-06-09 16:44] dimstav23 commented on #156
Hi @sscargal,
the 8-socket system is not in my reach. It was reported by another user a long time ago.
I just came across this reported github issue while googling for a solution.
I can provide my 2-socket system specification:
Q1) `demidecode -t baseboard`:
[code]
Q2)`dmidecode -t bios`:
[code]
Q3) Currently it's not that simple to try a different distro in this machine as it is managed centrally

[2022-06-09 21:34] sscargal commented on #156
@dimstav23 There seems to be a BIOS regression problem that needs to be filed with Supermicro. The only thing I changed was updating the BIOS from v1.1 (Release Date: 04/21/2021) to v1.2 (Release Date: 04/21/2021) and I now see the same issue as you. No other changes were made to the OS or PMem config.

Working (BIOS v1.1):
[code]

**Not Working** (BIOS v1.2):
[code]

Looking at the NFIT, I see PM

[2022-06-09 21:51] dimstav23 commented on #156
@sscargal Thank you very much for your time and effort.
At least the root-cause is now identified and is not an `ipmctl` bug.
I can shortly explain the issue to the SUPERMICRO customer support tomorrow and point them to this discussion to locate further details.

[2022-06-09 22:02] StevenPontsler commented on #156
Thank you all for your effort.

[2022-06-16 14:39] sscargal commented on #156
@dimstav23 Were you able to get a support ticket created with Supermicro? If needed, Supermicro can engage the Intel BIOS team through an Intel Premier Support (IPS) ticket.

[2022-07-05 05:18] zktsd813 commented on #193
Thank you for all. I fixed this issue by reset BIOS setting to factory default.

[2022-07-05 05:18] #193 closed

[2022-08-17 10:22] softblade-c opened #196 "ipmctl can't list nvdimm in vm"
Hi,
I'm deploying DAOS in ESXi vm node. There's an Optane persistent memory installed in the host. nvdimms are added to the vm, but daos_server can't find any SCM at all, which invokes ipmctl to lisk the SCM. It seems that ipmctl doesn't work properly in a vm.

ndctl can list the nvdimms as follows:
[code]

ipmctl finds nothing:
[code]
The vm node has nvdimms allocated already. There's something d

[2022-08-17 15:57] sscargal commented on #196
`ipmctl` cannot work within a VM as it requires access to the hardware, which in the case of ESXi is abstracted through virtualization. DAOS will need to find alternative methods for device discovery within a virtualized environment. `ndctl` could be one option - `ndctl list -D` to list 'NVDIMMs' for example.

[2022-08-17 16:03] StevenPontsler commented on #196
Thanks Steve.

It looks like ndctl is listing namespaces which are an abstraction on top of PMems. The ipmctl utility works directly on the hardware modules so cannot work inside a VM.

[2022-08-17 16:10] sscargal commented on #196
From the ESXi Hypervisor, the PMem should be exposed to the guest as vPMem devices to provide DirectAccess (DAX). See [Using Persistent Memory](https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.storage.doc/GUID-93E5390A-8FCF-4CE1-8927-9FC36E889D00.html) in the ESXi documentation. There's more details in the VMWare docs for how to configure ESXi. Once the guest see's the virtual PMem

[2022-08-18 08:01] softblade-c commented on #196
Thanks Steve and Steven,
Is it possible to refine ipmctl to work inside a VM just like ndctl does? After all, it's convenient to deploy and develop DAOS in VM environment. Or DAOS should be modified to use ndctl instead of ipmctl.

[2022-08-18 15:54] sscargal commented on #196
That task is really for the hypervisors to implement the SMBUS and DDR-T protocols. Allowing communication over the SMBUS or DDR-T busses within the VM would be a security issue, so I don't see it happening.

[2022-08-18 21:47] StevenPontsler commented on #196
Ipmctl expects to talk directly to the modules which means any changes it does would affect the whole system -- not just that particular VM. I believe this is why VM vendors have not implemented anything for this.

There maybe some useful information or functions that could be reused in another utility such as the code to read and interpret ACPI tables.

I would guess that it would be easier to us

[2022-10-04 06:45] luckyq opened #197 ""sudo ipmctl show -region":Command not run."
Hi, All.

I have encountered a problem after I reinstall the linux system.

I have a optane machine:
![Screen Shot 2022-10-02 at 3 59 15 PM](https://user-images.githubusercontent.com/13534344/193480092-27f6480e-2e67-488b-851c-666e244fba6a.png)

Before I reinstall the linux. It works well.

But now, when I want to configure it into numa mode.

This is the error.
[code]
[code]
I also tried some solu

[2022-10-04 16:29] nolanhergert commented on #197
Can you run "ipmctl create -f -goal" and report back? If it doesn't work, try adding "ipmctl delete -pcd" beforehand.

[2022-10-04 19:05] luckyq commented on #197
<img width="1337" alt="Screen Shot 2022-10-04 at 12 04 35 PM" src="https://user-images.githubusercontent.com/13534344/193904338-5f10b440-898d-4dc2-bbb3-e568e643acb8.png">

The first cmd seems work well.

But still we can not create a goal.

[2022-10-04 20:52] nolanhergert commented on #197
Interesting. I'm going to repeat that error for future searchers:
"Create region configuration goal failed: Error 112 - Platform does not support changing configuration through management software"

  * Can you run "ipmctl show -system PCAT" and paste the output?
  * What version of ipmctl are you running? "ipmctl version". Newer versions of ipmctl contain a few fixes. https://github.com/intel/ipm

[2022-10-04 21:06] luckyq commented on #197
This is the results of "ipmctl show -system PCAT":

<img width="556" alt="Screen Shot 2022-10-04 at 2 05 25 PM" src="https://user-images.githubusercontent.com/13534344/193928596-5da92ca0-c3ee-40ad-a180-151731beca70.png">

The ipmctl version is

<img width="864" alt="Screen Shot 2022-10-04 at 2 06 13 PM" src="https://user-images.githubusercontent.com/13534344/193928722-059d38b0-40ee-4a79-8cc1-fa21c

[2022-10-04 21:20] nolanhergert commented on #197
Yeah, we add support for that in 3794. If your distro doesn't have that version or newer, you can download the latest 2.* ipmctl version, 3885, from the link above.

[2022-10-04 21:33] StevenPontsler commented on #197
I think trying a newer version of ipmctl makes sense.

What distro and version of that distro are you using?

[2022-10-04 22:08] luckyq commented on #197
I just reinstall the newer version which is 02.00.00.3885.
But when I run the binary,

<img width="1436" alt="Screen Shot 2022-10-04 at 3 07 13 PM" src="https://user-images.githubusercontent.com/13534344/193939035-7e7cb801-a737-4f35-ab68-e389bee94f1d.png">

It seems still the 3709. I download the source code for the above link.

And it has the same error as before.

[2022-10-04 22:14] luckyq commented on #197
LInux version: ubuntu 20.04 server LTS.
Linux pasa 5.4.0-126-generic #142-Ubuntu

[2022-10-04 22:28] luckyq commented on #197
I just solved the problem by remove libipmctl4 and also install acpid. (I am not sure which one should be the reason. But it works now.)
Everything goes well.

it seems libipmctl4 is the problem.
It should be installed with ndctl or ipmctl when I used apt install.
<img width="1046" alt="Screen Shot 2022-10-04 at 3 26 31 PM" src="https://user-images.githubusercontent.com/13534344/193941624-ca84fd40

[2022-10-04 22:35] StevenPontsler commented on #197
Thanks for the follow up. I was just going to suggest trying binaries from newer Ubuntu releases.

I would guess it is the acpid that changed things as it looked to me like ipmctl was having trouble with the ACPI tables.

If the issue is resolved please close it.

[2022-10-04 22:43] #197 closed

[2022-10-04 23:08] nolanhergert commented on #197
Weird. My guess is that the newer libipmctl distributed with the executable was not getting used. Removing libipmctl4 forced it to use the proper one? Anyways, glad it's working.